<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Projeto GitHub DioEduzz</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <script src="https://kit.fontawesome.com/475e944a02.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="container">
            <header>
                <a href="#" class="logo">Projeto GitHub Dio Eduzz</a>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                </ul>
            </header>
            <div class="content">
                <h2> Git/GitHub </h2>
                <p>Projeto para demonstrar as competências de Git e GitHub adquiridas no Bootcamp FullStack Developer
                    Dio/Eduzz fazendo a criação de uma landing page com links de social midia
                </p>
                <a href="https://web.digitalinnovation.one/track/eduzz-fullstack-developer?tab=path"
                    target="_blank">Saiba mais</a>
            </div>
            <div class="imgBox">
                <img src="/images/meninalivro.png">
            </div>
            <ul class="social_icons">
                <li><a href="https://www.instagram.com/maauricio_mp/" target="_blank">
                        <i class="fab fa-instagram"></i></a>

                <li><a href="https://sitedomau.herokuapp.com/aboutme.php" target="_blank">
                    <i class="fas fa-user"></i></a>
                </li>
                <li><a href="https://github.com/mujapira" target="_blank">
                        <i class="fab fa-github"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/mauricio-mello-pereira-b6b138221/" target="_blank">
                        <i class="fab fa-linkedin"></i></a>
                <li><a href="https://api.whatsapp.com/send/?phone=5511973202219&text&app_absent=0" target="_blank">
                        <i class="fab fa-whatsapp"></i></a>
                </li>

            </ul>
        </div>
    </section>
</body>

</html>